/* Base */

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  display: none;
}

fieldset {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
}

/* Text styles */

.text-style-heading {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.text-style-simple {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.text-style-heading.small {
  font-size: 24px;
  line-height: 28px;
}

.text-style-simple.small {
  font-size: 18px;
  line-height: 21px;
}

.text-style-heading.white {
  color: #FFFFFF;
}

.text-style-simple.white {
  color: #FFFFFF;
}

.uppercase {
  text-transform: uppercase;
}

.text-style-filter-heading {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 8px;
  color: #FFFFFF;
}

.text-style-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.text-style-filter-lable {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.text-style-filter-lable.gray {
  color: #333333;
}


/* Header */

.page-header {
  display: flex;
  height: 64px;
  position: relative;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 70px;
}

.sedona-logo {
  display: inline-block;
  background: url("../images/logo.png") no-repeat;
  width: 140px;
  height: 70px;
  margin-right: 30px;
}

.header-navigation ul {
  display: flex;
}

.header-navigation li {
  padding: 0 15px;
}

.header-navigation a {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;

  text-transform: capitalize;
}

.header-navigation a:visited {
  color: #000000;
}

.header-button.current {
  border-bottom: 2px solid #756257;
}

.header-button {
  display: inline-block;
  padding: 20px 0;
  border: none;
  cursor: pointer;
}

.header-actions-wrapper {
  margin-left: auto;
  margin-right: 20px;
}

.header-icon-button {
  width: 44px;
  height: 64px;
  padding: 22px 12px;
  border: none;
  cursor: pointer;
}

.search-button {
  background: url('../images/icons/search.svg') no-repeat 50% 50%;
}

.favotites-button {
  background: url('../images/icons/favorites.svg') no-repeat 50% 50%;
}

.favorites-count-wrapper {
  display: inline-block;
  position: absolute;
  margin: 10px 0 0 -24px;

  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.favorites-count {
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;

  position: absolute;
  margin: 5px 0 0 5px;
}

header .action-button {
  align-self: center;
  margin-top: -5px;
}

.action-button {
  padding: 8px 35px;
  border: none;
  border-radius: 4px;

  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.action-button.brown {
  background-color: #756157;
}

.action-button.green {
  background-color: #7DB54F;
}

.action-button.blue {
  background-color: #82B3D3;
}

.action-button.transparent {
  background-color: transparent;
}

.action-button.black-text {
  color: #000000;
}

/* Footer */
footer {
  height: 120px;
  padding: 40px 70px 0 70px;
}

.footer-button {
  display: inline-block;
  border: none;
  width: 45px;
  height: 35px;
  cursor: pointer;
}

.footer-button.vk {
  background: url("../images/icons/vk.svg") no-repeat 10px 10px;
}

.footer-button.telegram {
  background: url("../images/icons/telegram.svg") no-repeat 10px 10px;
}

.footer-button.youtube {
  background: url("../images/icons/youtube.svg") no-repeat 10px 10px;
}

address {
  display: flex;
  font-style: normal;
}

.footer-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0 auto;
}

.html-academy-logo {
  width: 115px;
  height: 33px;
  background: url("../images/html_academy.png") no-repeat;
  display: block;
}


/* Main page sections:*/
/* -hero-block */

.hero-block-wrapper {
  width: auto;
}

.hero-background {
  display: flex;
  flex-direction: column;
  background: #82B3D3 url(../images/landscapes/mountains_hero-block.jpg) no-repeat;
  width: 100%;
  height: 485px;
  justify-content: flex-end;
}

.hero-vector-wellcome {
  width: 458px;
  height: 352px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.hero-divider {
  background: url("../images/divider.svg") no-repeat;
  width: auto;
  height: 57px;
}

/* -other blocks */

.simple-text-block {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  padding: 70px 0;
}

.simple-text-block.big-space {
  padding: 95px 0;
}

.simple-text-block .text-style-heading {
  margin-bottom: 25px;
}

.simple-text-block .text-style-simple {
  margin-bottom: 20px;
}

.advantages-block {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  height: 385px;
}

.advantages-image-container {
  width: 800px;
  height: 385px;
}

.advantages-image-container img {
  max-width: 100%;
  height: auto;
}

.advantages-item.blue {
  background-color: #82B3D3;
}

.advantages-item.light-blue {
  background-color: rgba(131, 179, 211, 0.2);
  ;
}

.advantages-item-content-wrapper {
  text-align: center;
  width: 230px;
  margin: 0 auto;
  padding: 80px 85px;
}

.advantages-item img {
  margin-bottom: 30px;
}

.advantages-item h3 {
  width: 175px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-item-divider {
  width: 60px;
  height: 2px;
  margin: 30px auto;
  background-color: #000000;
}

.white + .advantages-item-divider {
  background-color: #FFFFFF;
}

.advantages-icon {
  width: 75px;
  height: 72px;
}

.big-action-button {
  display: block;
  width: 375px;
  height: 52px;
  border-radius: 4px;
  margin-top: 35px;
  margin-bottom: 5px;

  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.big-action-button.brown {
  background-color: #756157;
}

.big-action-button.center {
  margin-left: auto;
  margin-right: auto;
}

/* -subscription block */

.subscription-background {
  background: url("../images//landscapes/mountains_subscription_block.jpg") no-repeat;
  width: 1200px;
  height: 414px;
}

.subscription-input-wrapper {
  display: flex;
  margin-top: 55px;
}

.subscription-input {
  width: 452px;
  height: 50px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscription-input:focus {
  outline: none;
}

.subscription-button {
  width: 232px;
  height: 52px;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
  text-align: center;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}


/* Catalog page */
/* filters */
.filter-block {
  background: #333333 url("../images/landscapes/mountains_filters-block.jpg") no-repeat;
  width: 100%;
  height: 412px;
}

.filter-block-content-wrapper {
  padding: 70px;
  padding-top: 35px;
}

.breadcrumbs-wrapper {
  padding-left: 3px;
  margin-bottom: 30px;
}

.breadcrumbs-home-button {
  display: inline-block;
  background: url("../images/icons/home.svg") no-repeat;
  width: 12px;
  height: 12px;
}

.breadcrumbs-arrow {
  display: inline-block;
  background: url("../images/icons/breadcrumbs_arrow.svg") no-repeat;
  width: 8px;
  height: 12px;
  margin: 0 10px;
}

.breadcrumbs-page {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.filters-form-wrapper {
  display: flex;
}

.filters-form-wrapper label {
  height: 28px;
}

.filter-column-wrapper {
  width: 550px;
  display: flex;
}

.infrastructure-filter,
.housing-filter {
  width: 150px;
}

.infrastructure-filter {
  margin-right: 70px;
}

legend {
  margin-bottom: 32px;
}

.text-style-filter-lable {
  display: inline-block;
  margin-bottom: 17px;
}

.price-filter {
  width: 290px;
  margin-right: 70px;
}

.price-filter p {
  display: flex;
}

.checkbox {
  display: inline-block;
  background: #FFFFFF url("../images/icons/check.svg") no-repeat;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.filter-price-input {
  width: 123px;
  height: 48px;
  padding: 0;
  padding-left: 20px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background: #F2F2F2;
  color: #000000;
  border: none;
}

.filter-price-input.to {
  margin-left: 2px;
}

.filter-price-input:focus {
  outline: none;
}

.filter-price-input.from {
  border-radius: 4px 0 0 4px;
}

.filter-price-input.to {
  border-radius: 0 4px 4px 0;
}

.filter-price-caption {
  font-size: 18px;
  line-height: 24px;
  color: #BEBEBE;
  position: absolute;
  margin: 12px 0 0 -32px;
}

.filter-buttons-wrapper {
  padding-top: 55px;
}

.filter-buttons-wrapper button {
  padding: 8px 50px;
}

.filter-buttons-wrapper button[type="submit"] {
  margin-bottom: 32px;
}

/* hotels */

.search-result-block {
  padding: 50px 70px 60px 70px;
}

.search-result-header {
  display: flex;
  margin-bottom: 40px;
}

.search-result-header select {
  width: 290px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin: 0 70px 0 auto;
  padding-left: 20px;
}

.preview-format-icon {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  margin-right: 8px;
  border-radius: 4px;
}

.search-result-heade:last-child {
  margin-right: 0;
}

.preview-format-icon.active {
  border: 2px solid #000000;
}

.preview-format-icon.gallery {
  background: url("../images/icons/view_gallery.svg") no-repeat 13px 15px;
}

.preview-format-icon.list {
  background: url("../images/icons/view_list.svg") no-repeat 13px 15px;
}

.preview-format-icon.icons {
  background: url("../images/icons/view_images.svg") no-repeat 13px 15px;
}

.hotels-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.hotel-item {
  padding: 20px;
  margin-bottom: 20px;

  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotels-block:nth-child(3) {
  margin-right: 0;
}

.hotel-item h3 {
  text-transform: none;
  margin-bottom: 16px;
}

.hotel-item p {
  margin-bottom: 16px;
}

.hotel-item b {
  font-weight: inherit;
}

.hotel-item img {
  margin-bottom: 10px;
}

.search-result-block .action-button {
  width: 140px;
  padding: 8px 0;
}

.hotel-item-price-caption-wrapper {
  display: flex;
  justify-content: space-between;
}

.hotel-item-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#paging {
  display: flex;
  justify-content: flex-start;
}

#paging button {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.stars {
  width: 140px;
  height: 37px;
}

.stars-4 {
  background: url("../images/stars/stars_4.png") no-repeat;
}

.stars-3 {
  background: url("../images/stars/stars_3.png") no-repeat;
}

.stars-2 {
  background: url("../images/stars/stars_2.png") no-repeat;
}

.rating-caption {
  margin-right: 22px;
}
