/* Base */

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  min-width: 1024px;
}

body {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  min-width: 1024px;
  color: #333333;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.unordered-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.unordered-list label {
  user-select: none;
  cursor: pointer;
}

.anchor-link {
  text-decoration: none;
}

.button-tag {
  padding: 0;
}

.h1-tag,
.h2-tag,
.h3-tag,
.paragraph {
  margin: 0;
}

.filter-price-input::-webkit-outer-spin-button,
.filter-price-input::-webkit-inner-spin-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Text styles */

.text-style-heading {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.text-style-simple {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.text-style-heading.small {
  font-size: 24px;
  line-height: 28px;
}

.text-style-simple.small {
  font-size: 18px;
  line-height: 21px;
}

.text-style-heading.white {
  color: #FFFFFF;
}

.text-style-simple.white {
  color: #FFFFFF;
}

.uppercase {
  text-transform: uppercase;
}

.text-style-filter-heading {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 8px;
  color: #FFFFFF;
}

.text-style-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.text-style-filter-lable {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.text-style-filter-lable.gray {
  color: #333333;
}


/* Header */

.page-header {
  display: flex;
  min-height: 64px;
  position: relative;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 70px;
}

.sedona-logo {
  background: url("../images/logo.svg") no-repeat;
  width: 140px;
  height: 70px;
  position: relative;
  margin-right: 30px;
  margin-top: -4px;
  top: 4px;
}

.sedona-logo:hover {
  background: url("../images/logo_hovered.svg") no-repeat;
}

.header-navigation ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 580px;
}

.header-navigation li {
  padding: 0 15px;
}

.header-navigation li:last-of-type {
  margin-left: 3px;
}

.header-navigation a {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;

  text-transform: capitalize;
}

.header-navigation a:visited {
  color: #000000;
}

.header-button.current {
  border-bottom: 2px solid #756257;
}

.header-button {
  display: inline-block;
  padding: 20px 0;
  border: none;
  cursor: pointer;
}

.header-actions-wrapper {
  margin-left: auto;
  margin-right: 20px;
}

.header-icon-button {
  width: 44px;
  height: 64px;
  padding: 22px 12px;
  border: none;
  cursor: pointer;
}

.search-button {
  background: url('../images/icons/search.svg') no-repeat 17px 50%;
}

.favotites-button {
  position: relative;
  background: url('../images/icons/favorites.svg') no-repeat 50% 50%;
}

.favotites-button::after {
  content: "12";
  position: absolute;
  top: 10px;
  left: 20px;

  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  line-height: 21px;

  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

header .action-button {
  align-self: flex-start;
  margin-top: 15px;
}

.action-button {
  padding: 8px 35px;
  border: none;
  border-radius: 4px;

  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.action-button.big-button {
  padding: 16px 50px;
  margin-top: 35px;
  margin-bottom: 5px;
  font-size: 20px;
  display: inline-block;
}

.modal-window-content-wrapper .action-button.big {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

/* Blue buttons color-styles */
.action-button.blue {
  background-color: #82B3D3;
}

.subscription-button:hover,
.action-button.blue:hover {
  background-color: #68A2CA;
}

.subscription-button:active,
.action-button.blue:active,
.subscription-button:focus,
.action-button.blue:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.subscription-button:disabled,
.action-button.blue:disabled {
  background-color: #E5E5E5;
}

/* Brown buttons color-styles */
.action-button.brown {
  background-color: #756157;
}

.action-button.brown:hover,
.action-button.brown:focus {
  background-color: #615048;
}

.action-button.brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.action-button.brown:disabled {
  background-color: #E5E5E5;
}

/* Green buttons color-styles */
.action-button.green {
  background-color: #7DB54F;
}

.action-button.green:hover,
.action-button.green:focus {
  background-color: #6C9E42;
}

.action-button.green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

.action-button.green:disabled {
  background-color: #E5E5E5;
}

/* Light-gray buttons color-styles */
.action-button.light-gray {
  background-color: #F2F2F2;
}

/* Transparent buttons color-styles */
.action-button.transparent {
  background-color: transparent;
}

.action-button.transparent:focus,
.action-button.light-gray:focus {
  outline: 3px solid #83B3D3;
}

.action-button.transparent:active,
.action-button.light-gray:active {
  color: rgba(255, 255, 255, 0.3);
}

.action-button.transparent:disabled,
.action-button.light-gray:disabled {
  color: rgba(255, 255, 255, 0.1);
}


.action-button.black-text {
  color: #000000;
}

.black-text {
  color: #000000;
}

/* Footer */
.footer {
  height: 70px;
  padding: 45px 70px 0 70px;
}

.footer-button {
  display: inline-block;
  border: none;
  width: 47px;
  height: 35px;
  cursor: pointer;
}

.footer-button.vk {
  background: url("../images/icons/vk.svg") no-repeat 50% 12px;
}

.footer-button.telegram {
  background: url("../images/icons/telegram.svg") no-repeat 50% 12px;
}

.footer-button.youtube {
  background: url("../images/icons/youtube.svg") no-repeat 50% 12px;
}

.address {
  display: flex;
  font-style: normal;
}

.footer-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 235px;
}

.html-academy-logo {
  width: 115px;
  height: 40px;
  background: url("../images/logo_htmlacademy.svg") no-repeat 0 3px;
  display: block;
}


/* Main page sections:*/
/* -hero-block */

.hero-block-wrapper {
  width: auto;
}

.hero-background {
  display: flex;
  flex-direction: column;
  background: #6e97bf url(../images/landscapes/mountains_hero-block.jpg) no-repeat 50% 0;
  background-size: cover;
  width: 100%;
  min-height: 485px;
  justify-content: flex-end;
}

.hero-vector-wellcome {
  width: 458px;
  height: 352px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 50px;
}

.hero-background::after {
  content: "";
  background: url("../images/divider.svg") no-repeat;
  width: auto;
  height: 57px;
}

/* -other blocks */

.simple-text-block {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  padding: 66px 0 72px 0
}

.simple-text-block.big-space {
  padding: 95px 0 90px 0;
}

.simple-text-block.big-space-bottom {
  padding: 95px 0 105px 0;
}

.simple-text-block.min-space {
  padding: 65px 0 42px 0;
}

.min-space p.text-style-heading {
  margin-bottom: 21px;
}

.simple-text-block .text-style-heading {
  margin-bottom: 20px;
}

.simple-text-block .text-style-heading.big-space {
  margin-bottom: 25px;
}

.simple-text-block .text-style-simple {
  margin-bottom: 20px;
}

.advantages-block {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
}

.advantages-image-container {
  width: 800px;
  min-height: 385px;
}

.advantages-image-container img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.advantages-item.blue {
  background-color: #82B3D3;
}

.advantages-item.light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.very-light-blue {
  background-color: rgba(131, 179, 211, 0.12)
}

.advantages-item-content-wrapper {
  text-align: center;
  width: 230px;
  margin: 0 auto;
  padding: 112px 85px;
}

.advantages-item-content-wrapper.min-space {
  padding: 81px 85px;
}

.advantages-item.blue .advantages-item-content-wrapper {
  padding: 102px 85px;
}

.advantages-item h3 {
  width: 175px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-item h3.divider::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item h3.white::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-icon::before {
  content: "";
  display: inline-block;
  width: 75px;
  height: 75px;
  margin-bottom: 23px;
}

.advantages-icon.house::before {
  background: url("../images/icons/house.svg") no-repeat;
}

.advantages-icon.food::before {
  background: url("../images/icons/food.svg") no-repeat;
}

.advantages-icon.present::before {
  background: url("../images/icons/present.svg") no-repeat;
}

/* -subscription block */

.subscription-background {
  background: #6e97bf url("../images/landscapes/mountains_subscription_block.jpg") no-repeat;
  width: 1200px;
}

.subscription-input-wrapper {
  display: flex;
  margin: 55px 0 0 7px;
}

.subscription-input {
  width: 430px;
  min-height: 50px;
  padding-left: 20px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
}

.subscription-input:focus {
  outline: 3px solid #83B3D3;
}

.subscription-button {
  width: 232px;
  min-height: 52px;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
  text-align: center;
  cursor: pointer;

  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}


/* Catalog page */
/* filters */
.filter-block {
  background: #333333 url("../images/landscapes/mountains_filters-block.jpg") no-repeat;
  background-size: cover;
  width: 100%;
}

.filter-block-content-wrapper {
  padding: 32px 70px 55px 70px;
}

.breadcrumbs-wrapper {
  margin-bottom: 30px;
}

.breadcrumbs-home-button {
  display: inline-block;
  background: url("../images/icons/home.svg") no-repeat;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.breadcrumbs-page {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

.breadcrumbs-page::before {
  content: '';
  display: inline-block;
  background: url("../images/icons/breadcrumbs_arrow.svg") no-repeat 0 1px;
  width: 8px;
  height: 12px;
  margin: 0 10px 0 5px;
}

.filters-form-wrapper {
  display: flex;
  padding-top: 12px;
}

.filters-form-wrapper label {
  height: 23px;
  cursor: pointer;
}

.filter-column-wrapper {
  width: 550px;
  display: flex;
}

.infrastructure-filter,
.housing-filter {
  width: 150px;
}

.infrastructure-filter {
  margin-right: 70px;
}

.legend {
  margin: 32px 0 30px -2px;
}

.text-style-filter-lable {
  display: inline-block;
  margin-bottom: 17px;
  padding-left: 35px;
}

.checkbox::before {
  position: absolute;
  content: "";
  display: inline-block;
  margin: 2px 0 0 -35px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #FFFFFF;
}

input[type="checkbox"]:checked + .checkbox::before {
  background: #FFFFFF url("../images/icons/check.svg") no-repeat 4px 5px;
}

.checkbox:hover,
.radio:hover,
.footer-button:hover,
.html-academy-logo:hover,
.breadcrumbs-page:not(:last-of-type):hover,
.breadcrumbs-home-button:hover {
  color: #FFFFFF;
  opacity: 0.7;
}

.footer-phone:hover,
.header-icon-button:hover,
.header-button:hover,
.person-count-button:hover,
.modal-window-close-button:hover {
  color: #000000;
  opacity: 0.7;
}

.radio::before {
  position: absolute;
  content: "";
  display: inline-block;
  margin: 1px 0 0 -37px;
  width: 21px;
  height: 21px;
  border-radius: 10px;
  background: #FFFFFF;
}


input[type="radio"]:checked + .radio::before {
  background: #FFFFFF url("../images/icons/circle.svg") no-repeat 4px 5px;
}

.price-filter {
  width: 290px;
  margin-right: 70px;
}

.price-filter p {
  display: flex;
}

.filter-price-input {
  width: 123px;
  height: 48px;
  padding: 0;
  padding-left: 20px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background: #F2F2F2;
  color: #000000;
  border: none;
}

.filter-price-input.to {
  margin-left: 2px;
}

.filter-price-input:focus {
  outline: 3px solid #68A2CA;
}

.filter-price-input.from {
  border-radius: 4px 0 0 4px;
}

.filter-price-input.to {
  border-radius: 0 4px 4px 0;
}

.filter-price-caption {
  font-size: 18px;
  line-height: 24px;
  color: #BEBEBE;
  position: absolute;
  margin: 13px 0 0 -39px;
}

.filter-buttons-wrapper {
  padding-top: 55px;
}

.filter-buttons-wrapper button {
  padding: 8px 50px;
}

.filter-buttons-wrapper button[type="button"] {
  margin-left: 8px;
}

.filter-buttons-wrapper button[type="submit"] {
  margin-bottom: 32px;
}

.price-slider {
  width: 287px;
  height: 20px;
  margin-top: 62px;
}

.price-slider .progress-line,
.price-slider .progress-line-active {
  position: absolute;
  height: 4px;
  display: inline-block;
  margin-top: 8px;
}

.price-slider .progress-line {
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
}

.price-slider .progress-line-active {
  background-color: #FFFFFF;
  width: 220px;
}

.range-from-button,
.range-to-button {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  background-color: #FFFFFF;
}

.range-to-button {
  margin-left: 180px;
}

/* hotels */

.search-result-block {
  padding: 50px 70px 60px 70px;
}

.search-result-header {
  position: relative;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.sort-type-select-wrapper {
  margin: 0 70px 0 auto;
}

.search-result-header select {
  width: 293px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding-left: 18px;
  background: transparent;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.search-result-header select:hover,
.search-result-header select:focus {
  outline: 3px solid #68A2CA;
}

.search-result-header select:active {
  outline: 3px solid #3F5E72;
}

.search-result-header select:disabled {
  outline: 3px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.sort-type-select-wrapper::after {
  position: absolute;
  content: "";
  margin: 20px 0 0 -32px;
  width: 12px;
  height: 8px;
  background: url("../images/icons/arrow_down.svg") no-repeat;
}

.preview-format-icon {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  margin-right: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.preview-format-icon:last-child {
  margin-right: 0;
}

.preview-format-icon:hover,
.preview-format-icon:active,
.preview-format-icon.current {
  border: 2px solid #000000;
}

.preview-format-icon:focus {
  outline: 3px solid #83B3D3;
}

.preview-format-icon.gallery {
  background: url("../images/icons/view_gallery.svg") no-repeat 14px 15px;
}

.preview-format-icon.list {
  background: url("../images/icons/view_list.svg") no-repeat 13px 15px;
}

.preview-format-icon.icons {
  background: url("../images/icons/view_images.svg") no-repeat 14px 15px;
}

.hotels-block {
  display: grid;
  grid-template-columns: repeat(3, 342px);
  gap: 18px;
  margin: 0 0 38px -2px;
  padding-bottom: 37px;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px 20px 18px 18px;
  width: 342px;
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-item img {
  margin-bottom: 10px;
}

.hotel-item h3 {
  text-transform: none;
  margin-bottom: 17px;
}

.hotel-item-info-wrapper {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 20px 36px 38px;
  column-gap: 20px;
  row-gap: 17px;
  margin-top: auto;
}

.price-caption {
  margin-left: auto;
}

.rating-caption {
  margin: -2px auto 0 auto;
  align-self: center;
  font-size: 16px;
  line-height: 20px;

  background-color: #F2F2F2;
  padding: 8px 22px;
  border-radius: 4px;
}

.stars {
  height: 22px;
  align-self: center;
}

.hotel-item-info-wrapper b {
  font-weight: inherit;
}

.hotel-item-info-wrapper a.action-button {
  padding: 8px 0;
}

.hotel-item-info-wrapper button.action-button {
  padding: 9px 0;
}

#paging {
  display: flex;
  justify-content: flex-start;
}

#paging .action-button {
  width: 60px;
  height: 60px;
  margin-right: 8px;
  padding: 0;
  font-size: 18px;
}

.stars-5 {
  background: url("../images/stars/stars_5.png") no-repeat;
}

.stars-4 {
  background: url("../images/stars/stars_4.png") no-repeat;
}

.stars-3 {
  background: url("../images/stars/stars_3.png") no-repeat;
}

.stars-2 {
  background: url("../images/stars/stars_2.png") no-repeat;
}

.stars-1 {
  background: url("../images/stars/stars_1.png") no-repeat;
}

/* Модалка */
.modal-window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
  opacity: 0.8;
}

.modal-window {
  position: fixed;
  width: 577px;
  top: calc(50% - 576px/2);
  left: calc(50% - 688px/2);
  padding: 64px 70px;

  background: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-window-close-button {
  width: 52px;
  height: 52px;
  background: #F2F2F2 url("../images/icons/close_button.svg") no-repeat 50% 50%;
  border-radius: 26px;
  position: absolute;
  top: 67px;
  left: 614px;
  cursor: pointer;
}

.modal-window-content-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 137px 440px;
  grid-template-rows: 48px 48px 48px 60px;
  row-gap: 48px;
}

.modal-window-header-wrapper {
  width: 535px;
  height: 100px;
  white-space: nowrap;
  overflow: hidden;
}

.modal-window-input-caption {
  align-self: center;
}

.modal-window-content-wrapper button {
  grid-column: span 2;
}

.modal-window-content-wrapper .date-input:focus {
  outline: 3px solid #83B3D3;
}

.modal-window-content-wrapper .date-input::before {
  position: absolute;
  content: "";
  margin: 16px 0 0 402px;
  width: 16px;
  height: 15px;
  background: url("../images/icons/calendar.svg") no-repeat;
  opacity: 0.3;
  cursor: pointer;
  z-index: 100;
}

.date-input .error {
  position: absolute;
  display: block;
  margin: 3px 0 0 20px;

  font-family: "PT Sans", sans-serif;
  color: #FF5757;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.date-input .info {
  position: absolute;
  display: block;
  margin-left: 20px;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.modal-window-person-count-wrapper {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 248px 242px;
  gap: 87px;
  align-items: center;
  justify-content: space-between;
}

.person-count-button {
  width: 40px;
  height: 48px;
  border: none;
  cursor: pointer;
}

input.person-count-input {
  width: 12px;
  height: 30px;
  padding: 10px;

  background: #F2F2F2;
  border: none;

  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.modal-window-content-wrapper .date-input input {
  width: 415px;
  height: 50px;
  padding-left: 20px;

  background: #F2F2F2;
  border: none;
  border-radius: 4px;

  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.person-count-button:hover {
  color: #000000;
  opacity: 0.7;
}

.minus {
  background: url("../images/icons/minus.svg") 11px 13px no-repeat;
}

.plus {
  background: url("../images/icons/plus.svg") 8px 13px no-repeat;
}

.modal-window-input-caption.children-info {
  margin-left: -34px;

  width: 26px;
  height: 26px;
  border-radius: 14px;
  background: #83B3D3 url("../images/icons/info.svg") 12px 7px no-repeat;
  cursor: pointer;
}

.children-info:hover::before,
.children-info:focus::before {
  content: "";
  position: absolute;
  margin: 33px 0 0 3px;
  width: 19px;
  height: 9px;
  background: url("../images/icons/triangle.svg") no-repeat;
}

.children-info:hover::after,
.children-info:focus::after {
  content: "Укажите количество детей, которые будут с вами, возраст которых от 6 до 18 лет. Дети до 6 лет размещаются бесплатно.";
  position: absolute;
  background: #333333;
  width: 218px;
  margin: 42px 0 0 -109px;

  border-radius: 10px;
  padding: 15px 18px 18px 22px;

  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.count-input-wrapper {
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.count-control-wrapper {
  display: flex;
  justify-content: space-between;
}
